body{
    background-color: #142818;
}
.container{
    width: 850px;
    height: 550px;
    /* border: 5px solid white; */
    margin-left: 350px;
    margin-top: 100px;
    display: flex;
    
}
.first{
    width: 50%;
    height: 100%;
    background-color:bisque ;
    /* border: 5px solid red ; */
   
}
.second{
    width: 50%;
    height: 100%;
    background-color: #000000;
    /* border: 5px solid rgb(11, 64, 85); */
    position: relative;
    box-shadow: 5px 5px 10px green;
}
img{
    width: 100%;
    height: 100%;
}
.para{
    /* border: 5px solid white;   */
    width: 80%;
    height: 20%;
    /* padding-top: 150px;  */
    padding-left: 15px; 
    line-height: 3px;
    margin-left: 25px ;
    margin-top: 100px;
}
label{
    color: white;
}
.for_form{
    /* border: 5px solid white;  */
    padding-left: 50px;
    width: 100%;
    position: relative;
    
    
}
input[type=text],input[type=password] {
    width: 65%;
    height: 20%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: black;
    color: white;

}
.button{
    width: 75px;
    height: 20px;
    /* border: 4px solid white; */
    background-image: linear-gradient(to right,green,rgb(102, 209, 102));
    position: absolute;
    left: -75px;
    top: 0px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 2px;

}
